proptest-regressions/
spectrum.log
express.log
riposte.log
dissent.log
experiments.json
results.json
data/*.json

# Infrastructure
.terraform
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
manifest.json
terraform.log
packer.log
error.log

# Python droppings
.mypy_cache
venv
.venv
__pycache__

/target

.vscode
.idea
